<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Directive test</title>
  <style>* {font-size: 40px;}</style>
</head>
<body ng-app="FeatureTest" ng-init="rscope = 'root scope'; rootObj = { name: 'patrick' };">

  <!-- DIRECTIVE_TERMINAL_TEST_BEGIN -->
  <!-- <div terminal-directive-first terminal-directive-second></div> -->
  <!-- DIRECTIVE_TERMINAL_TEST_END -->

  <!-- DIRECTIVE_SCOPE_TEST_BEGIN -->
  From root scope: <input type="text" ng-model="rscope">
  <div child-scope-one my-attr="{{rscope}}"></div>
  <hr>
  From root scope: <input type="text" ng-model="rscope">
  <div child-scope-two my-attr="rootObj"></div>
  <!-- DIRECTIVE_SCOPE_TEST_END -->

  <script src="scripts/vendor/angular.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/directives/terminal.js"></script>
  <script src="scripts/directives/scope.js"></script>
</body>
</html>